.item-delete-btn{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6C7275;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
}