/* navebar style */

.navbar {
  width: 80%;
  margin: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-con {
  display: flex;
  align-items: end;
  gap: 30px;
}
.burger-icon{
  height: 30px;
  display: none;
}
.burger-icon svg{
  color: black;
}

.tab-buttons,
.navigation-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation-links svg,
.navigation-links img{
  height: 25px;
  width: 25px;
}

.tab-buttons a {
  padding: 10px;
  border: none
;
}
.cart-items-no {
font-size: 12px;
font-weight: 700;
line-height: 10px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  background-color: black;
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.profile-links-con{
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.cart-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background:none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.cart-btn:hover{
  background-color: rgb(195, 206, 215);
}

.nav-bottom-con {
  display: none;
}

.res-navigation-links {
  display: none;
  align-items: center;
}





@media screen and (max-width: 1024px) {
  .burger-icon{
    display: block;
  }
  .tab-buttons,
  .profile-links-con {
    display: none;
  }
  .container {
    width: 80%;
  }
}

@media screen and (max-width:800px) {
  
}
