.order-complete {
  max-width: 738px;
  margin: auto;
  padding: 80px;
  margin-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 15px 20px 0px rgba(0, 0, 0, 0.108);
}

.sub-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.6000000238418579px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6c7275;
  margin-bottom: 10px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 500px;
  margin-bottom: 50px;
}

.ordered-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}

.ordered-item {
  position: relative;
}

.item-image {
  width: 80px;
  height: 96px;
}

.item-quantity {
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  top: -10px;
  right: -10px;
}
.order-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 15px;
  margin-bottom: 50px;
}
.info-list-item {
  display: flex;
  gap: 50px;
}
.info-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6c7275;
}

.info-body {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.order-btn {
  width: fit-content;
  padding: 12px 40px;
  border-radius: 80px;
}

@media screen and (max-width: 800px) {
  .ordered-items {
    gap: 20px;
  }
  .order-complete {
    padding: 40px;
    margin-bottom: 0px;
  }
  .item-quantity {
    font-size: 10px;
    padding: 4px 7px;
    border-radius: 50px;
    top: -10px;
    right: -5px;
  }
}

@media screen and (max-width: 600px) {
  .order-complete {
    padding: 30px;
  }
  .sub-title {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
  }

  .title {
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.6000000238418579px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .ordered-items {
    gap: 10px;
  }
  .item-quantity {
    font-size: 10px;
    padding: 4px 7px;
    border-radius: 50px;
    top: -10px;
    right: -5px;
  }
  .order-info {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    margin-bottom: 50px;
  }
  .info-body{
    padding-bottom: 15px;
    border-bottom: 1px solid #E8ECEF;
  }
}

@media screen and (max-width: 480px){
    .order-complete {
    padding: 16px;
  }
.sub-title {
    text-align: left;
  }
  .title{
    text-align: left;
  }
  .ordered-items {
        justify-content: left;
        gap: 5px;
    }
    .item-quantity {
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50px;
    top: -8px;
    right: -2px;
  }
  .order-btn {
  width:100%;
}
}