.new-arrivals-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
}

.new-arrivals-title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
  width: 140px;
}