
.search-form{
  position: relative;
  height: fit-content;
}

.search-form .search-input{
  position: absolute;
  left: 0;
  bottom: -50px;
  z-index:2;
  padding: 7px;
  width: 170px;
  outline: none;
  border:  2px solid #adafaf;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.search-icon{
  font-size: 30px;
}