.quantity-btn{
    border: 1px solid #6C7275;
    border-radius: 4px;
    display: flex;
    width: 80px;
}
.increament-btn,.decreament-btn{
    display: inline-block;
    height:32px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    flex-grow: 1;
    height: 100%;
}
.increament-btn:hover{
    background: linear-gradient(to right,white,#6C7275 100%);
    border-radius: 0 2px 2px 0;
}
.decreament-btn:hover{
    background: linear-gradient(to left,white,#6C7275 100%);
    border-radius: 0 2px 2px 0;
}
.items-no{
    height: 32px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}