.radio-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 16px;
  border: 1px solid #6c7275;
  border-radius: 4px;
  background-color: #fefefe;
  cursor: pointer;
}
.checked {
  background-color: #F3F5F7;
}
.radio-button {
  display: flex;
  gap: 10px;
}
/* custon radio button style */

.container {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a black background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* custom radio button end */

.radio-button label {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.radio-button-wrapper span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
    line-height: 22px;
  }
}
