/* footer */


.footer-content {
  background-color: black;
  padding: 80px 160px 30px;
  color: white;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-navigation a {
  text-decoration: none;
}
.footer-navigation {
  height: 30px;
}
.tab-buttons {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.tab-buttons a {
  color: #fefefe;
  padding: 5px 10px;
  border-radius: 5px;
}
.tab-buttons a:hover {
  color: black;
  background-color: white;
}
.navigation-logo-con {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.deco-store-link {
  border-left: 1px solid gray;
  padding-left: 50px;
  color: gray;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.copyright-msg {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: gray;
}

.policys-links-con {
  display: flex;
  gap: 30px;
}

.policys-links-con a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.footer-socials {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .footer-content {
    background-color: black;
    padding: 80px 80px 30px;
    color: white;
  }
  .deco-store-link {
    padding-left: 15px;
  }
  .navigation-logo-con {
    width: 300px;
  }

  .tab-buttons {
    gap: 0px;
  }
}

@media screen and (max-width: 800px) {
  .tab-buttons,
  .policys-links-con {
    justify-content: space-between;
  }
  .tab-buttons a {
    color: #fefefe;
    padding: 5px 30px;
    border-radius: 5px;
  }

  .footer-navigation {
    flex-direction: column;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 30px;
  }

  .footer-socials {
    align-items: flex-end;
  }
}

@media screen and (max-width: 630px) {
  .footer-navigation {
    height: fit-content;
    margin-bottom: 20px;
  }
  .navigation-logo-con img {
    height: 30px;
    margin-bottom: 10px;
  }

  .footer-navigation a {
    border: none;
    padding: 0;
  }
  .tab-buttons {
    flex-direction: column;
    gap: 25px;
  }
  .tab-buttons a {
    color: #fefefe;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .navigation-logo-con {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-bottom{
        flex-direction: column-reverse;
        align-items: center;
    }
     .policys-links-con{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }
    .copyright-msg{
      text-align: center  ;
    }
    .policys-links-con a{
        width: 50%;
        text-align: center;
    }
}
