.dropdown {
  width: 100%;
  position: relative;
  /* temp */
}
.dropdown>* {
  box-sizing: border-box;
  /* temp */
}

.select {
    font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px 16px;
  border: 2px solid #6c7275;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.select:hover{
    background-color: #F3F5F7;
}

.chevron {
  content: "";
  border: solid #6c7275;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.dropdownMenu {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1.5px solid #777879;
  border-radius: 12px;
  padding: 8px;
  width: 100%;
  position: absolute;
  top: 55px;
  overflow-y: scroll;
  max-height: 200px;
  z-index: 2;
  background-color: white;
}


.dropdownMenu::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.dropdownMenu::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

.dropdownMenu::-webkit-scrollbar-thumb {
  background: #aaa; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}
.dropdownMenu::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150); /* Darker thumb color on hover */
}

.menuItem {
  padding: 8px 16px;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6C7275;
  border-radius: 8px;
  cursor: pointer;
}

.menuItem:hover{
    background-color: #F3F5F7;
}

.selected{
    background-color: #F3F5F7;
    color: #141718;
    font-weight: 600;
}


