*{
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


.container{
  width: 80%;
  margin: auto;
}

/* styel for error page */
.error-page-con{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-logo{
    width: 40%;
    margin-top: -80px;
    margin-bottom: 30px;
}

.error-page-content{
max-width: 520px;
}

.error-page-title{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 15px;
}
.error-page-body{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #353A3E;
    margin-bottom: 30px;
}

.error-page-content a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: black;
 padding:10px 20px;
 border-radius: 5px;
}

.error-page-content a:hover{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: rgb(103, 101, 101);
 padding:10px 20px;
 border-radius: 5px;
}

@media screen and (max-width:1024px) {
    .error-logo{
    width: 50%;
}
.error-page-content{
    width: 400px;
}
.error-page-title{
    font-size: 40px;
    line-height: 46px;
}
.error-page-body{
    font-size: 16px;
    line-height: 24px;
}
}
@media screen and (max-width:630px) {
    .error-logo{
    width: 55%;
    margin-top: 0px;
}
.error-page-content{
    width: 300px;
}
.error-page-title{
    font-size: 36px;
    line-height: 40px;
}
}
/* end error page */