.header {
margin-bottom: 40px;
}
.title{
font-size: 54px;
font-weight: 500;
line-height: 58px;
letter-spacing: -1px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
max-width: 700px;
margin: 40px 0 30px 0; 
}

.body{
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
max-width: 770px;
}

.contact-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0 60px;

}

.contact-title{
font-size: 40px;
font-weight: 500;
line-height: 44px;
letter-spacing: -0.4000000059604645px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.info-card-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.feature-card h5{
font-size: 16px;
font-weight: 700;
line-height: 16px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #6C7275;

}

.feature-card p{
font-size: 16px;
font-weight: 600;
line-height: 26px;
max-width: 250px;
}
.contact-form-wrapper{
    display: flex;
    gap: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.map-wrapper{
    width: 50%;
}

.msg-btn{
    width: 190px;
}

.co-features-wrapper{
    background-color: #F3F5F7;
    padding: 0 10% ;
}